In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('cleaned_data.csv', index_col = 'customer_id')
df.head()

,label,SHORT_TERM_COUNT,MID_TERM_COUNT,LONG_TERM_COUNT,SHORT_TERM_COUNT_BANK,MID_TERM_COUNT_BANK,LONG_TERM_COUNT_BANK,SHORT_TERM_COUNT_NON_BANK,MID_TERM_COUNT_NON_BANK,LONG_TERM_COUNT_NON_BANK,...,ENQUIRIES_FROM_BANK_6M_9M,ENQUIRIES_FROM_BANK_9M_12M,ENQUIRIES_FROM_BANK_6M_12M,ENQUIRIES_FROM_BANK_3M_12M,ENQUIRIES_FROM_NON_BANK_3M_6M,ENQUIRIES_FROM_NON_BANK_6M_9M,ENQUIRIES_FROM_NON_BANK_9M_12M,ENQUIRIES_FROM_NON_BANK_6M_12M,ENQUIRIES_FROM_NON_BANK_3M_12M,OUTSTANDING_BAL_ALL_CURRENT
customer_id,,,,,,,,,,,,,,,,,,,,,
1639,1,2,2,2,1,1,1,1,1,1,...,3,2,2,2,7,4,7,4,4,1.000000e+06
23717,0,11,4,2,7,1,1,4,2,1,...,2,7,2,2,7,7,7,7,7,1.000446e+06
19474,0,8,6,2,7,2,1,1,4,1,...,7,6,6,6,7,7,7,7,7,1.000620e+06
15505,0,6,2,2,3,1,1,7,1,1,...,6,7,5,4,5,5,7,5,4,1.000170e+06
1538,1,2,5,2,1,1,1,1,4,1,...,2,2,2,2,4,7,7,7,4,1.000270e+06