In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('cleaned_data.csv', index_col = 'customer_id')
df.head()

,label,SHORT_TERM_COUNT,MID_TERM_COUNT,LONG_TERM_COUNT,SHORT_TERM_COUNT_BANK,MID_TERM_COUNT_BANK,LONG_TERM_COUNT_BANK,SHORT_TERM_COUNT_NON_BANK,MID_TERM_COUNT_NON_BANK,LONG_TERM_COUNT_NON_BANK,...,ENQUIRIES_FROM_BANK_6M_9M,ENQUIRIES_FROM_BANK_9M_12M,ENQUIRIES_FROM_BANK_6M_12M,ENQUIRIES_FROM_BANK_3M_12M,ENQUIRIES_FROM_NON_BANK_3M_6M,ENQUIRIES_FROM_NON_BANK_6M_9M,ENQUIRIES_FROM_NON_BANK_9M_12M,ENQUIRIES_FROM_NON_BANK_6M_12M,ENQUIRIES_FROM_NON_BANK_3M_12M,OUTSTANDING_BAL_ALL_CURRENT
customer_id,,,,,,,,,,,,,,,,,,,,,
1639,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,2.0,2.0,2.0,7.0,4.0,7.0,4.0,4.0,1000000.0
23717,0,10.0,1.0,NaN,7.0,1.0,1.0,4.0,NaN,NaN,...,2.0,7.0,2.0,2.0,7.0,7.0,7.0,7.0,7.0,NaN
19474,0,7.0,7.0,NaN,7.0,NaN,1.0,1.0,4.0,NaN,...,7.0,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,1000620.0
15505,0,7.0,1.0,1.0,NaN,1.0,NaN,7.0,1.0,1.0,...,6.0,7.0,NaN,NaN,5.0,5.0,7.0,5.0,4.0,1000170.0
1538,1,NaN,NaN,1.0,1.0,1.0,1.0,1.0,4.0,1.0,...,2.0,2.0,2.0,2.0,4.0,7.0,7.0,7.0,4.0,1000270.0

In [7]:
(df['SHORT_TERM_COUNT'] - df['SHORT_TERM_COUNT_BANK'] - df['SHORT_TERM_COUNT_NON_BANK']+1).sum()

0.0

In [8]:
(df['MID_TERM_COUNT'] - df['MID_TERM_COUNT_BANK'] - df['MID_TERM_COUNT_NON_BANK']+1).sum()

0.0

In [9]:
(df['LONG_TERM_COUNT'] - df['LONG_TERM_COUNT_BANK'] - df['LONG_TERM_COUNT_NON_BANK']+1).sum()

0.0